body,html {
  font-size: 10px!important;
}

@media (min-width:576px) {
  body,  html {
    font-size: 11px!important;
  }
}

@media (min-width:768px) {
  body,  html {
    font-size: 13px!important;
  }
}

@media (min-width:992px) {
  body,  html {
    font-size: 14px!important;
  }
}

@media (min-width:1200px) {
  body,  html {
    font-size: 16px!important;
  }
}

@media (min-width:1366px) {
  body,  html {
    font-size: 18px!important;
  }
}

@media (min-width:1440px) {
  body,  html {
    font-size: 20px!important;
  }
}

@media (min-width:1600px) {
  body,  html {
    font-size: 22px!important;
  }
}

@media (min-width:1920px) {
  body,  html {
    font-size: 25px!important;
  }
}

.hero {
  top: 0;
  width: 100vw;
  padding-top: 16vh;
  background-image: url(img/hero_bg_xs.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 115vmax;
}

@media (-webkit-min-device-pixel-ratio:1.5),all and (-o-min-device-pixel-ratio:3/2),all and (min--moz-device-pixel-ratio:1.5),all and (min-device-pixel-ratio:1.5) {
  .hero {
    background-image: url(img/hero_bg_xs@2x.jpg);
  }
}

@media (min-width:576px) {
  .hero {
    padding-top: 32vh;
    background-image: url(img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 115vh;
  }
}

@media (min-width:576px) and (-webkit-min-device-pixel-ratio:1.5),all and (min-width:576px) and (-o-min-device-pixel-ratio:3/2),all and (min-width:576px) and (min--moz-device-pixel-ratio:1.5),all and (min-width:576px) and (min-device-pixel-ratio:1.5) {
  .hero {
    background-image: url(img/hero_bg@2x.jpg);
  }
}

.hero .play-btn:hover img:first-child,.hero .play-btn img:nth-child(2) {
  display: none;
}

.hero .play-btn:hover img:nth-child(2) {
  display: block;
}

.hero .hero-arrow {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 7vh;
  color: #2c589c;
}

.hero .hero-arrow a:hover {
  color: #21b8db;
}

.navbar {
  z-index: 1000;
  background-color: transparent!important;
  position: absolute;
  width: 100%;
}

.navbar .navbar-brand {
  width: 15%;
}

@media (min-width:576px) {
  .navbar .navbar-brand {
    width: 8%;
  }
}

.navbar .navbar-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width:992px) {
  .navbar .navbar-title {
    margin-bottom: 3rem;
  }
}

.navbar .nav-separator {
  display: none;
}

@media (min-width:992px) {
  .navbar .nav-separator {
    display: block;
    margin-bottom: 2rem;
  }
}

.navbar .navbar-toggler {
  color: #fff;
  width: 15%;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

@media (max-width:991.98px) {
  .navbar .navbar-collapse {
    box-shadow: 0 14px 10px -1px rgba(0,0,0,.3);
  }
}

.navbar .nav-item a {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width:991.98px) {
  .navbar .navbar-nav {
    background: rgba(44,88,156,.98);
  }
}

@media (max-width:991.98px) {
  .navbar .navbar-nav li:hover {
    background: rgba(26,101,213,.5);
  }
}

.navbar .navbar-nav a {
  text-align: center;
}

@media (max-width:991.98px) {
  .navbar .navbar-nav a {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.5rem;
  }
}

@media (min-width:992px) {
  .navbar .navbar-nav a {
    margin-right: 1rem;
  }

  .navbar .navbar-nav a:hover {
    text-decoration: underline;
  }
}

@media print {
  *,  :after,  :before {
    text-shadow: none!important;
    box-shadow: none!important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  img {
    page-break-inside: avoid;
  }

  h2,  h3,  p {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }

@page {
    size: a3;
}

  body {
    min-width: 992px!important;
  }

  .navbar {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus,.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(44,88,156,.25);
}

.btn:disabled {
  opacity: .65;
}

.btn-link {
  font-weight: 400;
  color: #2c589c;
  background-color: transparent;
}

.btn-link:hover {
  color: #1b3660;
  background-color: transparent;
}

.btn-link:focus,.btn-link:hover {
  text-decoration: underline;
  border-color: transparent;
}

.btn-link:focus {
  box-shadow: none;
}

.btn-link:disabled {
  color: #6c757d;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: .5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-auto,.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-auto,.col-md,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-auto,.col-sm,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-auto,.col-x2,.col-x2-1,.col-x2-2,.col-x2-3,.col-x2-4,.col-x2-5,.col-x2-6,.col-x2-7,.col-x2-8,.col-x2-9,.col-x2-10,.col-x2-11,.col-x2-12,.col-x2-auto,.col-x3,.col-x3-1,.col-x3-2,.col-x3-3,.col-x3-4,.col-x3-5,.col-x3-6,.col-x3-7,.col-x3-8,.col-x3-9,.col-x3-10,.col-x3-11,.col-x3-12,.col-x3-auto,.col-x4,.col-x4-1,.col-x4-2,.col-x4-3,.col-x4-4,.col-x4-5,.col-x4-6,.col-x4-7,.col-x4-8,.col-x4-9,.col-x4-10,.col-x4-11,.col-x4-12,.col-x4-auto,.col-x5,.col-x5-1,.col-x5-2,.col-x5-3,.col-x5-4,.col-x5-5,.col-x5-6,.col-x5-7,.col-x5-8,.col-x5-9,.col-x5-10,.col-x5-11,.col-x5-12,.col-x5-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width:576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:1366px) {
  .col-x2 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-x2-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-x2-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-x2-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-x2-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-x2-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-x2-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-x2-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-x2-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-x2-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-x2-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-x2-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-x2-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-x2-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:1440px) {
  .col-x3 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-x3-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-x3-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-x3-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-x3-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-x3-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-x3-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-x3-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-x3-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-x3-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-x3-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-x3-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-x3-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-x3-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:1600px) {
  .col-x4 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-x4-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-x4-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-x4-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-x4-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-x4-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-x4-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-x4-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-x4-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-x4-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-x4-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-x4-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-x4-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-x4-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width:1920px) {
  .col-x5 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-x5-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-x5-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-x5-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-x5-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-x5-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-x5-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-x5-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-x5-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-x5-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-x5-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-x5-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-x5-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-x5-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

*,:after,:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

nav {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0!important;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

ul ul {
  margin-bottom: 0;
}

a {
  color: #2c589c;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #1b3660;
  text-decoration: underline;
}

a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none!important;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,h1 {
  font-size: 2.5rem;
}

.h2,h2 {
  font-size: 2rem;
}

.h3,h3 {
  font-size: 1.75rem;
}

.h4,h4 {
  font-size: 1.5rem;
}

.h5,h5 {
  font-size: 1.25rem;
}

.h6,h6 {
  font-size: 1rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav-link:focus,.nav-link:hover {
  text-decoration: none;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:focus,.navbar-brand:hover {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-text {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-toggler:focus,.navbar-toggler:hover {
  text-decoration: none;
}

@media (min-width:576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (min-width:768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (min-width:992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width:1366px) {
  .navbar-expand-x2 {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-x2 .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-x2 .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-x2 .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-x2 .navbar-toggler {
    display: none;
  }
}

@media (min-width:1440px) {
  .navbar-expand-x3 {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-x3 .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-x3 .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-x3 .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-x3 .navbar-toggler {
    display: none;
  }
}

@media (min-width:1600px) {
  .navbar-expand-x4 {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-x4 .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-x4 .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-x4 .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-x4 .navbar-toggler {
    display: none;
  }
}

@media (min-width:1920px) {
  .navbar-expand-x5 {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-x5 .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-x5 .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-x5 .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .navbar-expand-x5 .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-expand .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.flex-row {
  flex-direction: row!important;
}

.justify-content-start {
  justify-content: flex-start!important;
}

.justify-content-end {
  justify-content: flex-end!important;
}

.justify-content-center {
  justify-content: center!important;
}

.align-items-start {
  align-items: flex-start!important;
}

.align-items-end {
  align-items: flex-end!important;
}

.align-items-center {
  align-items: center!important;
}

.align-content-start {
  align-content: flex-start!important;
}

.align-content-end {
  align-content: flex-end!important;
}

.align-content-center {
  align-content: center!important;
}

@media (min-width:576px) {
  .flex-sm-row {
    flex-direction: row!important;
  }

  .justify-content-sm-start {
    justify-content: flex-start!important;
  }

  .justify-content-sm-end {
    justify-content: flex-end!important;
  }

  .justify-content-sm-center {
    justify-content: center!important;
  }

  .align-items-sm-start {
    align-items: flex-start!important;
  }

  .align-items-sm-end {
    align-items: flex-end!important;
  }

  .align-items-sm-center {
    align-items: center!important;
  }

  .align-content-sm-start {
    align-content: flex-start!important;
  }

  .align-content-sm-end {
    align-content: flex-end!important;
  }

  .align-content-sm-center {
    align-content: center!important;
  }
}

@media (min-width:768px) {
  .flex-md-row {
    flex-direction: row!important;
  }

  .justify-content-md-start {
    justify-content: flex-start!important;
  }

  .justify-content-md-end {
    justify-content: flex-end!important;
  }

  .justify-content-md-center {
    justify-content: center!important;
  }

  .align-items-md-start {
    align-items: flex-start!important;
  }

  .align-items-md-end {
    align-items: flex-end!important;
  }

  .align-items-md-center {
    align-items: center!important;
  }

  .align-content-md-start {
    align-content: flex-start!important;
  }

  .align-content-md-end {
    align-content: flex-end!important;
  }

  .align-content-md-center {
    align-content: center!important;
  }
}

@media (min-width:992px) {
  .flex-lg-row {
    flex-direction: row!important;
  }

  .justify-content-lg-start {
    justify-content: flex-start!important;
  }

  .justify-content-lg-end {
    justify-content: flex-end!important;
  }

  .justify-content-lg-center {
    justify-content: center!important;
  }

  .align-items-lg-start {
    align-items: flex-start!important;
  }

  .align-items-lg-end {
    align-items: flex-end!important;
  }

  .align-items-lg-center {
    align-items: center!important;
  }

  .align-content-lg-start {
    align-content: flex-start!important;
  }

  .align-content-lg-end {
    align-content: flex-end!important;
  }

  .align-content-lg-center {
    align-content: center!important;
  }
}

@media (min-width:1366px) {
  .flex-x2-row {
    flex-direction: row!important;
  }

  .justify-content-x2-start {
    justify-content: flex-start!important;
  }

  .justify-content-x2-end {
    justify-content: flex-end!important;
  }

  .justify-content-x2-center {
    justify-content: center!important;
  }

  .align-items-x2-start {
    align-items: flex-start!important;
  }

  .align-items-x2-end {
    align-items: flex-end!important;
  }

  .align-items-x2-center {
    align-items: center!important;
  }

  .align-content-x2-start {
    align-content: flex-start!important;
  }

  .align-content-x2-end {
    align-content: flex-end!important;
  }

  .align-content-x2-center {
    align-content: center!important;
  }
}

@media (min-width:1440px) {
  .flex-x3-row {
    flex-direction: row!important;
  }

  .justify-content-x3-start {
    justify-content: flex-start!important;
  }

  .justify-content-x3-end {
    justify-content: flex-end!important;
  }

  .justify-content-x3-center {
    justify-content: center!important;
  }

  .align-items-x3-start {
    align-items: flex-start!important;
  }

  .align-items-x3-end {
    align-items: flex-end!important;
  }

  .align-items-x3-center {
    align-items: center!important;
  }

  .align-content-x3-start {
    align-content: flex-start!important;
  }

  .align-content-x3-end {
    align-content: flex-end!important;
  }

  .align-content-x3-center {
    align-content: center!important;
  }
}

@media (min-width:1600px) {
  .flex-x4-row {
    flex-direction: row!important;
  }

  .justify-content-x4-start {
    justify-content: flex-start!important;
  }

  .justify-content-x4-end {
    justify-content: flex-end!important;
  }

  .justify-content-x4-center {
    justify-content: center!important;
  }

  .align-items-x4-start {
    align-items: flex-start!important;
  }

  .align-items-x4-end {
    align-items: flex-end!important;
  }

  .align-items-x4-center {
    align-items: center!important;
  }

  .align-content-x4-start {
    align-content: flex-start!important;
  }

  .align-content-x4-end {
    align-content: flex-end!important;
  }

  .align-content-x4-center {
    align-content: center!important;
  }
}

@media (min-width:1920px) {
  .flex-x5-row {
    flex-direction: row!important;
  }

  .justify-content-x5-start {
    justify-content: flex-start!important;
  }

  .justify-content-x5-end {
    justify-content: flex-end!important;
  }

  .justify-content-x5-center {
    justify-content: center!important;
  }

  .align-items-x5-start {
    align-items: flex-start!important;
  }

  .align-items-x5-end {
    align-items: flex-end!important;
  }

  .align-items-x5-center {
    align-items: center!important;
  }

  .align-content-x5-start {
    align-content: flex-start!important;
  }

  .align-content-x5-end {
    align-content: flex-end!important;
  }

  .align-content-x5-center {
    align-content: center!important;
  }
}

.position-absolute {
  position: absolute!important;
}

@supports (position:sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.h-25 {
  height: 25%!important;
}

.h-50 {
  height: 50%!important;
}

.h-75 {
  height: 75%!important;
}

.h-100 {
  height: 100%!important;
}

.m-0 {
  margin: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mr-0,.mx-0 {
  margin-right: 0!important;
}

.ml-0,.mx-0 {
  margin-left: 0!important;
}

.m-1 {
  margin: .25rem!important;
}

.mt-1 {
  margin-top: .25rem!important;
}

.mr-1,.mx-1 {
  margin-right: .25rem!important;
}

.ml-1,.mx-1 {
  margin-left: .25rem!important;
}

.m-2 {
  margin: .5rem!important;
}

.mt-2 {
  margin-top: .5rem!important;
}

.mr-2,.mx-2 {
  margin-right: .5rem!important;
}

.ml-2,.mx-2 {
  margin-left: .5rem!important;
}

.m-3 {
  margin: 1rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mr-3,.mx-3 {
  margin-right: 1rem!important;
}

.ml-3,.mx-3 {
  margin-left: 1rem!important;
}

.m-4 {
  margin: 1.5rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.mr-4,.mx-4 {
  margin-right: 1.5rem!important;
}

.ml-4,.mx-4 {
  margin-left: 1.5rem!important;
}

.m-5 {
  margin: 3rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mr-5,.mx-5 {
  margin-right: 3rem!important;
}

.ml-5,.mx-5 {
  margin-left: 3rem!important;
}

.p-0 {
  padding: 0!important;
}

.pt-0 {
  padding-top: 0!important;
}

.p-1 {
  padding: .25rem!important;
}

.pt-1 {
  padding-top: .25rem!important;
}

.p-2 {
  padding: .5rem!important;
}

.pt-2 {
  padding-top: .5rem!important;
}

.p-3 {
  padding: 1rem!important;
}

.pt-3 {
  padding-top: 1rem!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.p-5 {
  padding: 3rem!important;
}

.pt-5 {
  padding-top: 3rem!important;
}

.m-auto {
  margin: auto!important;
}

.mt-auto {
  margin-top: auto!important;
}

.mr-auto,.mx-auto {
  margin-right: auto!important;
}

.ml-auto,.mx-auto {
  margin-left: auto!important;
}

@media (min-width:576px) {
  .m-sm-0 {
    margin: 0!important;
  }

  .mt-sm-0 {
    margin-top: 0!important;
  }

  .mr-sm-0,  .mx-sm-0 {
    margin-right: 0!important;
  }

  .ml-sm-0,  .mx-sm-0 {
    margin-left: 0!important;
  }

  .m-sm-1 {
    margin: .25rem!important;
  }

  .mt-sm-1 {
    margin-top: .25rem!important;
  }

  .mr-sm-1,  .mx-sm-1 {
    margin-right: .25rem!important;
  }

  .ml-sm-1,  .mx-sm-1 {
    margin-left: .25rem!important;
  }

  .m-sm-2 {
    margin: .5rem!important;
  }

  .mt-sm-2 {
    margin-top: .5rem!important;
  }

  .mr-sm-2,  .mx-sm-2 {
    margin-right: .5rem!important;
  }

  .ml-sm-2,  .mx-sm-2 {
    margin-left: .5rem!important;
  }

  .m-sm-3 {
    margin: 1rem!important;
  }

  .mt-sm-3 {
    margin-top: 1rem!important;
  }

  .mr-sm-3,  .mx-sm-3 {
    margin-right: 1rem!important;
  }

  .ml-sm-3,  .mx-sm-3 {
    margin-left: 1rem!important;
  }

  .m-sm-4 {
    margin: 1.5rem!important;
  }

  .mt-sm-4 {
    margin-top: 1.5rem!important;
  }

  .mr-sm-4,  .mx-sm-4 {
    margin-right: 1.5rem!important;
  }

  .ml-sm-4,  .mx-sm-4 {
    margin-left: 1.5rem!important;
  }

  .m-sm-5 {
    margin: 3rem!important;
  }

  .mt-sm-5 {
    margin-top: 3rem!important;
  }

  .mr-sm-5,  .mx-sm-5 {
    margin-right: 3rem!important;
  }

  .ml-sm-5,  .mx-sm-5 {
    margin-left: 3rem!important;
  }

  .p-sm-0 {
    padding: 0!important;
  }

  .pt-sm-0 {
    padding-top: 0!important;
  }

  .p-sm-1 {
    padding: .25rem!important;
  }

  .pt-sm-1 {
    padding-top: .25rem!important;
  }

  .p-sm-2 {
    padding: .5rem!important;
  }

  .pt-sm-2 {
    padding-top: .5rem!important;
  }

  .p-sm-3 {
    padding: 1rem!important;
  }

  .pt-sm-3 {
    padding-top: 1rem!important;
  }

  .p-sm-4 {
    padding: 1.5rem!important;
  }

  .pt-sm-4 {
    padding-top: 1.5rem!important;
  }

  .p-sm-5 {
    padding: 3rem!important;
  }

  .pt-sm-5 {
    padding-top: 3rem!important;
  }

  .m-sm-auto {
    margin: auto!important;
  }

  .mt-sm-auto {
    margin-top: auto!important;
  }

  .mr-sm-auto,  .mx-sm-auto {
    margin-right: auto!important;
  }

  .ml-sm-auto,  .mx-sm-auto {
    margin-left: auto!important;
  }
}

@media (min-width:768px) {
  .m-md-0 {
    margin: 0!important;
  }

  .mt-md-0 {
    margin-top: 0!important;
  }

  .mr-md-0,  .mx-md-0 {
    margin-right: 0!important;
  }

  .ml-md-0,  .mx-md-0 {
    margin-left: 0!important;
  }

  .m-md-1 {
    margin: .25rem!important;
  }

  .mt-md-1 {
    margin-top: .25rem!important;
  }

  .mr-md-1,  .mx-md-1 {
    margin-right: .25rem!important;
  }

  .ml-md-1,  .mx-md-1 {
    margin-left: .25rem!important;
  }

  .m-md-2 {
    margin: .5rem!important;
  }

  .mt-md-2 {
    margin-top: .5rem!important;
  }

  .mr-md-2,  .mx-md-2 {
    margin-right: .5rem!important;
  }

  .ml-md-2,  .mx-md-2 {
    margin-left: .5rem!important;
  }

  .m-md-3 {
    margin: 1rem!important;
  }

  .mt-md-3 {
    margin-top: 1rem!important;
  }

  .mr-md-3,  .mx-md-3 {
    margin-right: 1rem!important;
  }

  .ml-md-3,  .mx-md-3 {
    margin-left: 1rem!important;
  }

  .m-md-4 {
    margin: 1.5rem!important;
  }

  .mt-md-4 {
    margin-top: 1.5rem!important;
  }

  .mr-md-4,  .mx-md-4 {
    margin-right: 1.5rem!important;
  }

  .ml-md-4,  .mx-md-4 {
    margin-left: 1.5rem!important;
  }

  .m-md-5 {
    margin: 3rem!important;
  }

  .mt-md-5 {
    margin-top: 3rem!important;
  }

  .mr-md-5,  .mx-md-5 {
    margin-right: 3rem!important;
  }

  .ml-md-5,  .mx-md-5 {
    margin-left: 3rem!important;
  }

  .p-md-0 {
    padding: 0!important;
  }

  .pt-md-0 {
    padding-top: 0!important;
  }

  .p-md-1 {
    padding: .25rem!important;
  }

  .pt-md-1 {
    padding-top: .25rem!important;
  }

  .p-md-2 {
    padding: .5rem!important;
  }

  .pt-md-2 {
    padding-top: .5rem!important;
  }

  .p-md-3 {
    padding: 1rem!important;
  }

  .pt-md-3 {
    padding-top: 1rem!important;
  }

  .p-md-4 {
    padding: 1.5rem!important;
  }

  .pt-md-4 {
    padding-top: 1.5rem!important;
  }

  .p-md-5 {
    padding: 3rem!important;
  }

  .pt-md-5 {
    padding-top: 3rem!important;
  }

  .m-md-auto {
    margin: auto!important;
  }

  .mt-md-auto {
    margin-top: auto!important;
  }

  .mr-md-auto,  .mx-md-auto {
    margin-right: auto!important;
  }

  .ml-md-auto,  .mx-md-auto {
    margin-left: auto!important;
  }
}

@media (min-width:992px) {
  .m-lg-0 {
    margin: 0!important;
  }

  .mt-lg-0 {
    margin-top: 0!important;
  }

  .mr-lg-0,  .mx-lg-0 {
    margin-right: 0!important;
  }

  .ml-lg-0,  .mx-lg-0 {
    margin-left: 0!important;
  }

  .m-lg-1 {
    margin: .25rem!important;
  }

  .mt-lg-1 {
    margin-top: .25rem!important;
  }

  .mr-lg-1,  .mx-lg-1 {
    margin-right: .25rem!important;
  }

  .ml-lg-1,  .mx-lg-1 {
    margin-left: .25rem!important;
  }

  .m-lg-2 {
    margin: .5rem!important;
  }

  .mt-lg-2 {
    margin-top: .5rem!important;
  }

  .mr-lg-2,  .mx-lg-2 {
    margin-right: .5rem!important;
  }

  .ml-lg-2,  .mx-lg-2 {
    margin-left: .5rem!important;
  }

  .m-lg-3 {
    margin: 1rem!important;
  }

  .mt-lg-3 {
    margin-top: 1rem!important;
  }

  .mr-lg-3,  .mx-lg-3 {
    margin-right: 1rem!important;
  }

  .ml-lg-3,  .mx-lg-3 {
    margin-left: 1rem!important;
  }

  .m-lg-4 {
    margin: 1.5rem!important;
  }

  .mt-lg-4 {
    margin-top: 1.5rem!important;
  }

  .mr-lg-4,  .mx-lg-4 {
    margin-right: 1.5rem!important;
  }

  .ml-lg-4,  .mx-lg-4 {
    margin-left: 1.5rem!important;
  }

  .m-lg-5 {
    margin: 3rem!important;
  }

  .mt-lg-5 {
    margin-top: 3rem!important;
  }

  .mr-lg-5,  .mx-lg-5 {
    margin-right: 3rem!important;
  }

  .ml-lg-5,  .mx-lg-5 {
    margin-left: 3rem!important;
  }

  .p-lg-0 {
    padding: 0!important;
  }

  .pt-lg-0 {
    padding-top: 0!important;
  }

  .p-lg-1 {
    padding: .25rem!important;
  }

  .pt-lg-1 {
    padding-top: .25rem!important;
  }

  .p-lg-2 {
    padding: .5rem!important;
  }

  .pt-lg-2 {
    padding-top: .5rem!important;
  }

  .p-lg-3 {
    padding: 1rem!important;
  }

  .pt-lg-3 {
    padding-top: 1rem!important;
  }

  .p-lg-4 {
    padding: 1.5rem!important;
  }

  .pt-lg-4 {
    padding-top: 1.5rem!important;
  }

  .p-lg-5 {
    padding: 3rem!important;
  }

  .pt-lg-5 {
    padding-top: 3rem!important;
  }

  .m-lg-auto {
    margin: auto!important;
  }

  .mt-lg-auto {
    margin-top: auto!important;
  }

  .mr-lg-auto,  .mx-lg-auto {
    margin-right: auto!important;
  }

  .ml-lg-auto,  .mx-lg-auto {
    margin-left: auto!important;
  }
}

@media (min-width:1366px) {
  .m-x2-0 {
    margin: 0!important;
  }

  .mt-x2-0 {
    margin-top: 0!important;
  }

  .mr-x2-0,  .mx-x2-0 {
    margin-right: 0!important;
  }

  .ml-x2-0,  .mx-x2-0 {
    margin-left: 0!important;
  }

  .m-x2-1 {
    margin: .25rem!important;
  }

  .mt-x2-1 {
    margin-top: .25rem!important;
  }

  .mr-x2-1,  .mx-x2-1 {
    margin-right: .25rem!important;
  }

  .ml-x2-1,  .mx-x2-1 {
    margin-left: .25rem!important;
  }

  .m-x2-2 {
    margin: .5rem!important;
  }

  .mt-x2-2 {
    margin-top: .5rem!important;
  }

  .mr-x2-2,  .mx-x2-2 {
    margin-right: .5rem!important;
  }

  .ml-x2-2,  .mx-x2-2 {
    margin-left: .5rem!important;
  }

  .m-x2-3 {
    margin: 1rem!important;
  }

  .mt-x2-3 {
    margin-top: 1rem!important;
  }

  .mr-x2-3,  .mx-x2-3 {
    margin-right: 1rem!important;
  }

  .ml-x2-3,  .mx-x2-3 {
    margin-left: 1rem!important;
  }

  .m-x2-4 {
    margin: 1.5rem!important;
  }

  .mt-x2-4 {
    margin-top: 1.5rem!important;
  }

  .mr-x2-4,  .mx-x2-4 {
    margin-right: 1.5rem!important;
  }

  .ml-x2-4,  .mx-x2-4 {
    margin-left: 1.5rem!important;
  }

  .m-x2-5 {
    margin: 3rem!important;
  }

  .mt-x2-5 {
    margin-top: 3rem!important;
  }

  .mr-x2-5,  .mx-x2-5 {
    margin-right: 3rem!important;
  }

  .ml-x2-5,  .mx-x2-5 {
    margin-left: 3rem!important;
  }

  .p-x2-0 {
    padding: 0!important;
  }

  .pt-x2-0 {
    padding-top: 0!important;
  }

  .p-x2-1 {
    padding: .25rem!important;
  }

  .pt-x2-1 {
    padding-top: .25rem!important;
  }

  .p-x2-2 {
    padding: .5rem!important;
  }

  .pt-x2-2 {
    padding-top: .5rem!important;
  }

  .p-x2-3 {
    padding: 1rem!important;
  }

  .pt-x2-3 {
    padding-top: 1rem!important;
  }

  .p-x2-4 {
    padding: 1.5rem!important;
  }

  .pt-x2-4 {
    padding-top: 1.5rem!important;
  }

  .p-x2-5 {
    padding: 3rem!important;
  }

  .pt-x2-5 {
    padding-top: 3rem!important;
  }

  .m-x2-auto {
    margin: auto!important;
  }

  .mt-x2-auto {
    margin-top: auto!important;
  }

  .mr-x2-auto,  .mx-x2-auto {
    margin-right: auto!important;
  }

  .ml-x2-auto,  .mx-x2-auto {
    margin-left: auto!important;
  }
}

@media (min-width:1440px) {
  .m-x3-0 {
    margin: 0!important;
  }

  .mt-x3-0 {
    margin-top: 0!important;
  }

  .mr-x3-0,  .mx-x3-0 {
    margin-right: 0!important;
  }

  .ml-x3-0,  .mx-x3-0 {
    margin-left: 0!important;
  }

  .m-x3-1 {
    margin: .25rem!important;
  }

  .mt-x3-1 {
    margin-top: .25rem!important;
  }

  .mr-x3-1,  .mx-x3-1 {
    margin-right: .25rem!important;
  }

  .ml-x3-1,  .mx-x3-1 {
    margin-left: .25rem!important;
  }

  .m-x3-2 {
    margin: .5rem!important;
  }

  .mt-x3-2 {
    margin-top: .5rem!important;
  }

  .mr-x3-2,  .mx-x3-2 {
    margin-right: .5rem!important;
  }

  .ml-x3-2,  .mx-x3-2 {
    margin-left: .5rem!important;
  }

  .m-x3-3 {
    margin: 1rem!important;
  }

  .mt-x3-3 {
    margin-top: 1rem!important;
  }

  .mr-x3-3,  .mx-x3-3 {
    margin-right: 1rem!important;
  }

  .ml-x3-3,  .mx-x3-3 {
    margin-left: 1rem!important;
  }

  .m-x3-4 {
    margin: 1.5rem!important;
  }

  .mt-x3-4 {
    margin-top: 1.5rem!important;
  }

  .mr-x3-4,  .mx-x3-4 {
    margin-right: 1.5rem!important;
  }

  .ml-x3-4,  .mx-x3-4 {
    margin-left: 1.5rem!important;
  }

  .m-x3-5 {
    margin: 3rem!important;
  }

  .mt-x3-5 {
    margin-top: 3rem!important;
  }

  .mr-x3-5,  .mx-x3-5 {
    margin-right: 3rem!important;
  }

  .ml-x3-5,  .mx-x3-5 {
    margin-left: 3rem!important;
  }

  .p-x3-0 {
    padding: 0!important;
  }

  .pt-x3-0 {
    padding-top: 0!important;
  }

  .p-x3-1 {
    padding: .25rem!important;
  }

  .pt-x3-1 {
    padding-top: .25rem!important;
  }

  .p-x3-2 {
    padding: .5rem!important;
  }

  .pt-x3-2 {
    padding-top: .5rem!important;
  }

  .p-x3-3 {
    padding: 1rem!important;
  }

  .pt-x3-3 {
    padding-top: 1rem!important;
  }

  .p-x3-4 {
    padding: 1.5rem!important;
  }

  .pt-x3-4 {
    padding-top: 1.5rem!important;
  }

  .p-x3-5 {
    padding: 3rem!important;
  }

  .pt-x3-5 {
    padding-top: 3rem!important;
  }

  .m-x3-auto {
    margin: auto!important;
  }

  .mt-x3-auto {
    margin-top: auto!important;
  }

  .mr-x3-auto,  .mx-x3-auto {
    margin-right: auto!important;
  }

  .ml-x3-auto,  .mx-x3-auto {
    margin-left: auto!important;
  }
}

@media (min-width:1600px) {
  .m-x4-0 {
    margin: 0!important;
  }

  .mt-x4-0 {
    margin-top: 0!important;
  }

  .mr-x4-0,  .mx-x4-0 {
    margin-right: 0!important;
  }

  .ml-x4-0,  .mx-x4-0 {
    margin-left: 0!important;
  }

  .m-x4-1 {
    margin: .25rem!important;
  }

  .mt-x4-1 {
    margin-top: .25rem!important;
  }

  .mr-x4-1,  .mx-x4-1 {
    margin-right: .25rem!important;
  }

  .ml-x4-1,  .mx-x4-1 {
    margin-left: .25rem!important;
  }

  .m-x4-2 {
    margin: .5rem!important;
  }

  .mt-x4-2 {
    margin-top: .5rem!important;
  }

  .mr-x4-2,  .mx-x4-2 {
    margin-right: .5rem!important;
  }

  .ml-x4-2,  .mx-x4-2 {
    margin-left: .5rem!important;
  }

  .m-x4-3 {
    margin: 1rem!important;
  }

  .mt-x4-3 {
    margin-top: 1rem!important;
  }

  .mr-x4-3,  .mx-x4-3 {
    margin-right: 1rem!important;
  }

  .ml-x4-3,  .mx-x4-3 {
    margin-left: 1rem!important;
  }

  .m-x4-4 {
    margin: 1.5rem!important;
  }

  .mt-x4-4 {
    margin-top: 1.5rem!important;
  }

  .mr-x4-4,  .mx-x4-4 {
    margin-right: 1.5rem!important;
  }

  .ml-x4-4,  .mx-x4-4 {
    margin-left: 1.5rem!important;
  }

  .m-x4-5 {
    margin: 3rem!important;
  }

  .mt-x4-5 {
    margin-top: 3rem!important;
  }

  .mr-x4-5,  .mx-x4-5 {
    margin-right: 3rem!important;
  }

  .ml-x4-5,  .mx-x4-5 {
    margin-left: 3rem!important;
  }

  .p-x4-0 {
    padding: 0!important;
  }

  .pt-x4-0 {
    padding-top: 0!important;
  }

  .p-x4-1 {
    padding: .25rem!important;
  }

  .pt-x4-1 {
    padding-top: .25rem!important;
  }

  .p-x4-2 {
    padding: .5rem!important;
  }

  .pt-x4-2 {
    padding-top: .5rem!important;
  }

  .p-x4-3 {
    padding: 1rem!important;
  }

  .pt-x4-3 {
    padding-top: 1rem!important;
  }

  .p-x4-4 {
    padding: 1.5rem!important;
  }

  .pt-x4-4 {
    padding-top: 1.5rem!important;
  }

  .p-x4-5 {
    padding: 3rem!important;
  }

  .pt-x4-5 {
    padding-top: 3rem!important;
  }

  .m-x4-auto {
    margin: auto!important;
  }

  .mt-x4-auto {
    margin-top: auto!important;
  }

  .mr-x4-auto,  .mx-x4-auto {
    margin-right: auto!important;
  }

  .ml-x4-auto,  .mx-x4-auto {
    margin-left: auto!important;
  }
}

@media (min-width:1920px) {
  .m-x5-0 {
    margin: 0!important;
  }

  .mt-x5-0 {
    margin-top: 0!important;
  }

  .mr-x5-0,  .mx-x5-0 {
    margin-right: 0!important;
  }

  .ml-x5-0,  .mx-x5-0 {
    margin-left: 0!important;
  }

  .m-x5-1 {
    margin: .25rem!important;
  }

  .mt-x5-1 {
    margin-top: .25rem!important;
  }

  .mr-x5-1,  .mx-x5-1 {
    margin-right: .25rem!important;
  }

  .ml-x5-1,  .mx-x5-1 {
    margin-left: .25rem!important;
  }

  .m-x5-2 {
    margin: .5rem!important;
  }

  .mt-x5-2 {
    margin-top: .5rem!important;
  }

  .mr-x5-2,  .mx-x5-2 {
    margin-right: .5rem!important;
  }

  .ml-x5-2,  .mx-x5-2 {
    margin-left: .5rem!important;
  }

  .m-x5-3 {
    margin: 1rem!important;
  }

  .mt-x5-3 {
    margin-top: 1rem!important;
  }

  .mr-x5-3,  .mx-x5-3 {
    margin-right: 1rem!important;
  }

  .ml-x5-3,  .mx-x5-3 {
    margin-left: 1rem!important;
  }

  .m-x5-4 {
    margin: 1.5rem!important;
  }

  .mt-x5-4 {
    margin-top: 1.5rem!important;
  }

  .mr-x5-4,  .mx-x5-4 {
    margin-right: 1.5rem!important;
  }

  .ml-x5-4,  .mx-x5-4 {
    margin-left: 1.5rem!important;
  }

  .m-x5-5 {
    margin: 3rem!important;
  }

  .mt-x5-5 {
    margin-top: 3rem!important;
  }

  .mr-x5-5,  .mx-x5-5 {
    margin-right: 3rem!important;
  }

  .ml-x5-5,  .mx-x5-5 {
    margin-left: 3rem!important;
  }

  .p-x5-0 {
    padding: 0!important;
  }

  .pt-x5-0 {
    padding-top: 0!important;
  }

  .p-x5-1 {
    padding: .25rem!important;
  }

  .pt-x5-1 {
    padding-top: .25rem!important;
  }

  .p-x5-2 {
    padding: .5rem!important;
  }

  .pt-x5-2 {
    padding-top: .5rem!important;
  }

  .p-x5-3 {
    padding: 1rem!important;
  }

  .pt-x5-3 {
    padding-top: 1rem!important;
  }

  .p-x5-4 {
    padding: 1.5rem!important;
  }

  .pt-x5-4 {
    padding-top: 1.5rem!important;
  }

  .p-x5-5 {
    padding: 3rem!important;
  }

  .pt-x5-5 {
    padding-top: 3rem!important;
  }

  .m-x5-auto {
    margin: auto!important;
  }

  .mt-x5-auto {
    margin-top: auto!important;
  }

  .mr-x5-auto,  .mx-x5-auto {
    margin-right: auto!important;
  }

  .ml-x5-auto,  .mx-x5-auto {
    margin-left: auto!important;
  }
}

.text-justify {
  text-align: justify!important;
}

.text-center {
  text-align: center!important;
}

@media (min-width:576px) {
  .text-sm-center {
    text-align: center!important;
  }
}

@media (min-width:768px) {
  .text-md-center {
    text-align: center!important;
  }
}

@media (min-width:992px) {
  .text-lg-center {
    text-align: center!important;
  }
}

@media (min-width:1366px) {
  .text-x2-center {
    text-align: center!important;
  }
}

@media (min-width:1440px) {
  .text-x3-center {
    text-align: center!important;
  }
}

@media (min-width:1600px) {
  .text-x4-center {
    text-align: center!important;
  }
}

@media (min-width:1920px) {
  .text-x5-center {
    text-align: center!important;
  }
}

.text-white {
  color: #fff!important;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: .14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-text-width:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-link:before {
  content: "";
}

.fa-bars:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-toggle-down:before {
  content: "";
}

.fa-fa:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}